# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment variables
.env

# Build files
/build
/dist

# React
/node_modules
/.next
/out
build/
/.DS_Store

# Coverage directory used by testing tools
coverage/

# Cache
.cache/
.vscode/
.idea/
.eslintcache

# Miscellaneous
*.tgz
*.zip
*.gz
*.rar

# Local environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files (macOS/Linux/Windows)
.DS_Store
Thumbs.db
